<p><%= link_to "Back", articles_path %> | <% link_to "Edit", edit_article_path %></p>

<h1><%= @article.title  %></h1>
<h3><%= @article.body %></h3>
<h1>Figure out a way to show the author of this article</h1>
<% if user_signed_in? %>
	<%= form_for @new_comment do |c| %>
			<%= c.label :body  %>
			<%= c.text_field :body  %>
			<%= c.hidden_field :article_id, :value => @article.id %>
			<% c.submit %>
	<% end %>

<% else %>

<p>To commment, please <%= link_to "Sign In", new_user_registration_path %></p>	

<% end %>

<% if @comments.empty? %>
		<p>no commments</p>
<% else %>
		<% @comments.each do |comment|  %>
			<%= comment.user.user_name  %>
			<%= comment.body %>
	<% end %>
<% end %>




